################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/lands1/.vs/lands1/v15/Server/sqlite3/db.lock
